<div id="detail">
    <div class="basic-info">
        <ng-include src="'templates/basic_info.html'"></ng-include>
    </div>
    <section class="block">
        <a ui-sref="borrow({isbn: book.isbn13})" class="operation button button-balanced">馆藏信息</a>
        <a ng-hide="collected()" ng-click="collect()" class="operation button button-balanced">收藏</a>
        <a ng-show="collected()" ng-click="uncollect()" class="operation button button-balanced">取消收藏</a>
        <br/>
        <!-- <a ui-sref="annotations({id: book.id})" class="operation button button-balanced">读书笔记</a> -->
        <!-- <a ui-sref="reviews({id: book.id})" class="operation button button-balanced">书评</a> -->
        <a ui-href="http://book.douban.com/subject/{{book.id}}/reviews" class="operation button button-balanced">读书笔记</a>
        <a ui-href="http://book.douban.com/subject/{{book.id}}/annotation" class="operation button button-balanced">书评</a>
    </section>
    <section class="block">
        <h6>内容简介</h6>
        <p ng-bind-html="book.summary|douban"></p>
    </section>
    <section class="block">
        <h6>作者简介</h6>
        <p ng-bind-html="book.author_intro|douban"></p>
    </section>
    <section class="block">
        <h6>目录</h6>
        <p ng-bind-html="book.catalog|douban"></p>
    </section>

</div>
