@import "compass/utilities/general/clearfix";
@import "compass/css3";

#search-form{
    margin-top: 50px;
    padding: 10px;
}

.basic-info{
    @include display-box;

    text-decoration: none;
    color: #333;

    img{
    }

    .info{
        margin-left: 40px;
        @include box-flex(1);
    }
}