@charset "UTF-8";
/* line 4, ../sass/style.scss */
#search-form {
  margin-top: 50px;
  padding: 10px;
}

/* line 9, ../sass/style.scss */
.basic-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  text-decoration: none;
  color: #333;
}
/* line 15, ../sass/style.scss */
.basic-info .info {
  margin-left: 40px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  font-size: 14px;
}
/* line 20, ../sass/style.scss */
.basic-info .info h3 {
  font-size: 16px;
}

/* line 26, ../sass/style.scss */
#detail {
  padding: 12px;
}

/* line 30, ../sass/style.scss */
section.block {
  margin: 20px 0;
}
/* line 33, ../sass/style.scss */
section.block h6 {
  font-size: 16px;
}
/* line 36, ../sass/style.scss */
section.block h6:after {
  margin-left: 12px;
  content: "· · · · · ·";
  color: #007722;
}
/* line 43, ../sass/style.scss */
section.block .operation {
  width: 32%;
}

/* line 49, ../sass/style.scss */
.borrow-list li {
  line-height: 1.5;
}
/* line 52, ../sass/style.scss */
.borrow-list li h3 {
  font-size: 16px;
  display: inline;
}
